<link rel="stylesheet" href="/Css/Vizualizar.css">

  {{#if procurar}}
    <form class="" action="/alterar" method="post">
      <select class="select" name="id">
        {{#each aluno}}
          <option value="{{id}}">{{id}}</option>
        {{/each}}
      </select>
    {{#each aluno}}
      <input class="input_alterar" type="text" name="matricula" value="{{matricula}}" placeholder="Matricula">
      <input class="input_alterar" type="text" name="nome" value="{{nome}}" placeholder="Nome">
      <input class="input_alterar" type="text" name="sobrenome" value="{{sobrenome}}" placeholder="Sobrenome">
      <input class="input_alterar" type="text" name="turma" value="{{turma}}" placeholder="Turma">
      <input class="input_alterar" type="text" name="turno" value="{{turno}}" placeholder="Turno">
      {{/each}}
      <input class="submit_button" type="submit" name="alterar" value="Alterar">
    </form>
  {{else}}
    <form style="margin-top: 2rem;" class="" action="/procurar" method="post">
      <select class="select" name="id">
        {{#each alunos}}
          <option value="{{id}}">{{id}}</option>
        {{/each}}
      </select>
      <input class="submit_button" type="submit" name="procurar" value="Procurar">
    </form>
  {{/if}}

  <table class="tabela_alunos">
    <thead>
      <tr>
        <th class="titulos_alunos">Id</th>
        <th class="titulos_alunos">Matricula</th>
        <th class="titulos_alunos">Nome</th>
        <th class="titulos_alunos">Sobrenome</th>
        <th class="titulos_alunos">Turma</th>
        <th class="titulos_alunos">Turno</th>
      </tr>
    </thead>
    <tbody>
  {{#each alunos}}
        <tr class="linha_alunos">
          <td class="dados_alunos">{{id}}</td>
          <td class="dados_alunos">{{matricula}}</td>
          <td class="dados_alunos">{{nome}}</td>
          <td class="dados_alunos">{{sobrenome}}</td>
          <td class="dados_alunos">{{turma}}</td>
          <td class="dados_alunos">{{turno}}</td>
        </tr>
  {{/each}}
  </tbody>
  </table>

<style media="screen">
  .input_enviar{
    width: auto;
    padding: 0.5rem;
  }

  input{
    width: 100px;
    text-align: center;
  }
</style>
